<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="googlebot" content="noindex">
    <meta name="robots" content="noindex">
    <meta name="description" content="{{ config.description }}">
    <link rel="canonical" href="{{ config.base_url }}"/>
    <link rel="icon" href="{{ config.extra.site_favicon }}">
    <link rel="stylesheet" href="{{ get_url(path='style.css') | safe }}">
    <title>{% if section.title %}
        {{ section.title }} — {{ config.title }}
        {% else %}
        {{ config.title }}
        {% endif %}
    </title>
</head> -->